* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* UTILITY */
.border {
  border: 2px dotted black;
}


/*HEADER*/

header {
  background-color: #ADD8E7;
  height: 60px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hd-cont {
  background-color: #DAA51E;
  display: flex;
  width: 1200px;
}


.col-20 {
  width: 20%;
}

.col-60 {
  width: 60%;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.col-20, .col-60 {
  padding: 6px;
}

/* MAIN */
.container {
  background-color: blue;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-container {
  background-color: rgb(241, 135, 153);
  height: 320px;
  width: 800px;
}

.cont-2 {
  background-color: white;
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-1 {
  background-color: rgb(0, 180, 240);
  width: 800px;
  height: 380px;
}

.box-2 {
  background-color: pink;
  width: 400px;
  height: 380px;
}

.cont-2-reverse {
  background-color: rgb(194, 191, 191);
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-1-reverse {
  background-color:pink;
  width: 400px;
  height: 380px;
}

.box-2-reverse {
  background-color: rgb(0, 180, 240);
  width: 800px;
  height: 380px;
}

.cont-bg-grey {
  background-color: rgb(194, 191, 191);
  display: flex;
  height: 1280px;
  max-width: auto;
  justify-content: center;
  align-items: center;
}

.container-2 {
  background-color: green;
  width: 1200px;
  height: 1200px;
}

.foot-cont {
  background-color: rgb(49, 48, 48);
  display: flex;
  height: 500px;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  padding-bottom: 30px;
}


.box-foot {
  width: 180px;
  background-color: rgb(25, 223, 206);
  height: 460px;
}


.box-foot-2 {
  width: 480px;
  background-color: rgb(252, 127, 148);
  height: 460px;
}

.box-footer {
  background-color: rgb(49, 48, 48);
  display: flex;
  height: 80px;
  justify-content: center;
  align-items: flex-end;
  margin-top: 2px;
}

.last-box {
  height: 60px;
  background-color: aquamarine;
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.botton-1 {
  width: auto;
  padding: 5px;
  background-color: pink;
}

.botton-2 {
  width: auto;
  padding: 5px;
  background-color: pink;
}

.box-footer , .last-box {
  margin-bottom: 2px;
}